{{template "header" .}}
    <style>
        .fullscreen-ch.landing-background-div-ch {
            background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('https://cdn.jsdelivr.net/gh/ChristianHering/Website@latest/cdn/img/bg.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            height: 100vh;
            width: 100%;
        }
    </style>

            <div class="fullscreen-ch landing-background-div-ch container-fluid">
                <div class="landing-div-ch">
                    <div class="row" style="justify-content: center;">
                        <a href="http://admin.ChristianHering.com/login" class="btn btn-secondary">Login</a>
                        <a href="http://admin.ChristianHering.com/logout" class="btn btn-secondary">Logout</a>
                        <a href="http://admin.ChristianHering.com/dashboard" class="btn btn-secondary">Dashboard</a>
                    </div>
                </div>
            </div>
{{template "footer" .}}
