{{template "header" .}}
{{if eq 1 .CurrentPage}}
<title>Christian Hering - Blog</title>
{{else}}
<title>Christian Hering - Blog Page #{{- .CurrentPage}}</title>
{{end}}

    <div class="container">
        <div class="ch-blog-image">
            <h1>My Blog</h1>
            <h6>Enjoy reading? Try reading one of my blog posts!</h6>
        </div>
    </div>

        <div class="container">

            <!-- Sorting buttons or something -->

            {{range $i, $unused := .Posts}}
                {{$temp := modulous $i 2}}{{if eq $temp 0}}
                    {{if ne $i 6}}
                        <div class="ch-consulting-blog-showcase row">
                            <div class="one-half column" style="background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('https://cdn.jsdelivr.net/gh/ChristianHering/Website@latest/cdn/img/{{.Image}}'); background-size: cover;">
                                <h2 class="mx-auto">{{.Title}}</h2>
                                <p>{{.Body}} ... <a href="http://blog.ChristianHering.com/post/{{.ID}}">Read More</a></p>
                            </div>
                    {{end}}
                {{else}}
                        <div class="one-half column" style="background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('https://cdn.jsdelivr.net/gh/ChristianHering/Website@latest/cdn/img/{{.Image}}'); background-size: cover;">
                            <h2 class="mx-auto">{{.Title}}</h2>
                            <p>{{.Body}} ... <a href="http://blog.ChristianHering.com/post/{{.ID}}">Read More</a></p>
                        </div>
                    </div>
                {{end}}
            {{else}}
                <!-- No rows? -->
            {{end}}

            {{$temp := modulous (len .Posts) 2}}{{if eq $temp 1}} <!-- Put a closing div in case len(.Posts) is odd -->
                </div>
            {{end}}

            <div class="vertical-pad-1 row">
                {{if eq .CurrentPage 2}} <!-- Special check so /page/2 points to index instead of /page/1  -->
                    <a href="http://blog.ChristianHering.com"><button class="button">First Page</button></a>
                {{else if gt .CurrentPage 2}}
                    <a href="http://blog.ChristianHering.com/page/{{decrement .CurrentPage}}"><button class="button">Last Page</button></a>
                {{end}}

                {{if eq (len .Posts) 7}}
                    <a href="http://blog.ChristianHering.com/page/{{increment .CurrentPage}}"><button class="button">Next Page</button></a>
                {{end}}
            </div>
        </div>
{{template "footer" .}}
