{{template "header" .}}
    <title>Christian Hering - {{.Post.Title}}</title>

        <div class="container">
            <div class="ch-blog-image" style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('https://cdn.jsdelivr.net/gh/ChristianHering/Website@latest/cdn/img/{{.Post.Image}}');">
                <h1>{{.Post.Title}}</h1>
                <h6><strong>Posted On:</strong> {{formatDate .Post.Date}} </h6><h6><strong>Tags:</strong> 
                    {{range $tag := .Post.Tags}}
                        "{{$tag}}", 
                    {{else}}
                        None
                    {{end}}
                </h6>
            </div>
            <div class="vertical-pad-1 row">
                {{htmlSafe .Post.Body}}
            </div>

            <div class="vertical-pad-1"></div>

            <h1>Want More?</h1>

            <div class="ch-consulting-blog-showcase row">
                <div class="one-half column" style="background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('https://cdn.jsdelivr.net/gh/ChristianHering/Website@latest/cdn/img/{{if .LastPost.Image}}{{.LastPost.Image}}{{else}}defaultImage.jpg{{end}}'); background-size: cover;">

                    <h2 class="mx-auto">{{if .LastPost.Title}}{{.LastPost.Title}}{{else}}Nothing To See Here...{{end}}</h2>
                    <p>{{if .LastPost.Body}}{{.LastPost.Body}} ... <a href="http://blog.ChristianHering.com/post/{{.LastPost.ID}}">Read More</a>{{else}}There are no posts before this.{{end}}</p>
                </div>
                <div class="one-half column" style="background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('https://cdn.jsdelivr.net/gh/ChristianHering/Website@latest/cdn/img/{{if .NextPost.Image}}{{.NextPost.Image}}{{else}}defaultImage.jpg{{end}}'); background-size: cover;">
                    <h2 class="mx-auto">{{if .NextPost.Title}}{{.NextPost.Title}}{{else}}Coming Soon...{{end}}</h2>
                    <p>{{if .NextPost.Body}}{{.NextPost.Body}} ... <a href="http://blog.ChristianHering.com/post/{{.NextPost.ID}}">Read More</a>{{else}}There are no posts after this.{{end}}</p>
                </div>
            </div>
        </div>
    {{template "footer" .}}
