{{template "header" .}}

<title>Some Title D:</title>

<!-- Main Landing Page (server image + text) -->

<div class="ch-consulting-landing-image">
    <div class="ch-consulting-landing-div">
        <h1>Christian Hering</h1>
        <p>Developer. Engineer. Creator.</p>
    </div>

    <a class="ch-consulting-landing-icon" href="#">
        <svg width="3vw" height="3vw" viewBox="0 0 16 16" class="bi bi-chevron-compact-down" fill="currentColor" xmlns="https://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
        </svg>
    </a>
</div>

<!-- "Main" - everything below the server image -->

<div class="ch-consulting-main-background">
    <div class="container">

        <!-- Projects -->

        <div class="vertical-pad-1">
            <h1>Projects, look!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus, erat faucibus mollis finibus, sem arcu tristique diam, id hendrerit lorem sem pretium enim.</p>
            
            <div class="row">
                <div class="one-third column">
                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-thermometer-half mb-3" fill="currentColor" xmlns="https://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6 2a2 2 0 1 1 4 0v7.627a3.5 3.5 0 1 1-4 0V2zm2-1a1 1 0 0 0-1 1v7.901a.5.5 0 0 1-.25.433A2.499 2.499 0 0 0 8 15a2.5 2.5 0 0 0 1.25-4.666.5.5 0 0 1-.25-.433V2a1 1 0 0 0-1-1z"/>
                        <path d="M8.25 2a.25.25 0 0 0-.5 0v9.02a1.514 1.514 0 0 1 .5 0V2z"/>
                        <path d="M9.5 12.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus, erat faucibus mollis finibus, sem arcu tristique diam, id hendrerit lorem sem pretium enim. Sed tempus commodo orci, eu elementum purus sagittis eu.</p>
                    <a href="./shop" class="button">View Source</a>
                </div>
                <div class="one-third column">
                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-joystick mb-3" fill="currentColor" xmlns="https://www.w3.org/2000/svg">
                        <path d="M7.106 15.553L.553 12.276A1 1 0 0 1 0 11.382V9.471a1 1 0 0 1 .606-.89L6 6.269v1.088L1 9.5l5.658 2.83a3 3 0 0 0 2.684 0L15 9.5l-5-2.143V6.27l5.394 2.312a1 1 0 0 1 .606.89v1.911a1 1 0 0 1-.553.894l-6.553 3.277a2 2 0 0 1-1.788 0z"/>
                        <path fill-rule="evenodd" d="M7.5 9.5v-6h1v6h-1z"/>
                        <path d="M10 9.75c0 .414-.895.75-2 .75s-2-.336-2-.75S6.895 9 8 9s2 .336 2 .75zM10 2a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                    </svg>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus, erat faucibus mollis finibus, sem arcu tristique diam, id hendrerit lorem sem pretium enim. Sed tempus commodo orci, eu elementum purus sagittis eu.</p>
                    <a href="./shop" class="button">Play Now!</a>
                    <a href="https://github.com/ChristianHering/Sudoku" class="button">View Source</a>
                </div>
                <div class="one-third column">
                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-code-slash mb-3" fill="currentColor" xmlns="https://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0zm-.999-3.124a.5.5 0 0 1 .33.625l-4 13a.5.5 0 0 1-.955-.294l4-13a.5.5 0 0 1 .625-.33z"/>
                    </svg>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus, erat faucibus mollis finibus, sem arcu tristique diam, id hendrerit lorem sem pretium enim. Sed tempus commodo orci, eu elementum purus sagittis eu.</p>
                    <a href="https://github.com/ChristianHering/Website" class="button">View Source</a>
                </div>
            </div>
        </div>
        
        <!-- Blog Posts -->

        <div class="vertical-pad-3">
            <h1>Dev Blog</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus, erat faucibus mollis finibus, sem arcu tristique diam, id hendrerit lorem sem pretium enim. Sed tempus commodo orci, eu elementum purus sagittis eu. Curabitur eu lacus tristique, volutpat erat vel, mattis orci.</p>
            
            <div class="ch-consulting-blog-showcase row">
                <div class="one-half column" style="background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('https://cdn.jsdelivr.net/gh/ChristianHering/Website@latest/cdn/img/exampleImage.jpg');">
                    <h2 class="mx-auto">Lorem ipsum dolor sit amet</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus, erat faucibus mollis finibus, sem arcu tristique diam, id hendrerit lorem sem pretium enim. Sed tempus commodo orci, eu elementum purus sagittis eu. Curabitur eu lacus tristique, volutpat erat vel, mattis orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus aliquet.</p>
                </div>
                <div class="one-half column" style="background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('https://cdn.jsdelivr.net/gh/ChristianHering/Website@latest/cdn/img/exampleImage1.jpg');">
                    <h2 class="mx-auto">Lorem ipsum dolor sit amet</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus, erat faucibus mollis finibus, sem arcu tristique diam, id hendrerit lorem sem pretium enim. Sed tempus commodo orci, eu elementum purus sagittis eu. Curabitur eu lacus tristique, volutpat erat vel, mattis orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus aliquet.</p>
                </div>
            </div>
        </div>
        
            <!-- Services -->
            <!--
            <h1>Services</h1>
            <p>Some overview of services</p>
            <div class="card-deck">
                <div class="col card card-ch">
                    <div class="card-body">
                        <h2 class="mx-auto">Service</h2>
                        <p>description of service</p>
                    </div>
                </div>
                <div class="col card card-ch">
                    <div class="card-body">
                        <h2 class="mx-auto">Service</h2>
                        <p>description of service</p>
                    </div>
                </div>
                <div class="col card card-ch">
                    <div class="card-body">
                        <h2 class="mx-auto">Service</h2>
                        <p>description of service</p>
                    </div>
                </div>
            </div>
            -->

        <!-- Contact -->

        <div class="vertical-pad-3">
            <h1>Contact Us</h1>
            <p>Don't be shy! If you have a question, feel free to contact me at any time.</p>

            <div class="row ch-consulting-main-contact">
                <div class="two-thirds pad-3 column" style="background-color: rgba(128, 128, 128, 0.1);"> <!-- Input & form submission -->
                    <h4 class="pb-3">Send Me A Message</h4>
                    <form action="/contact">
                        <input placeholder="Name" type="text" name="name" required>
                        <input placeholder="Email" type="email" name="email" required>
                        <input placeholder="Message" type="text" name="message" required>
                        <div class="pt-1">
                            <button type="submit" class="btn btn-outline-light">Send Message</button>
                        </div>
                    </form>
                </div>
                <div class="one-third vertical-pad-3-when-desktop column"> <!-- Contact Info Display -->
                    <h4 class="pb-3">Or Something Else...</h4>
    
                    <h6 class="pt-3">Email</h6>
                    <p>Contact@ChristianHering.com</p>
                    <p>Admin@ChristianHering.com</p>
    
                    <h6 class="pt-3">Phone</h6>
                    <p>+1 (414)-301-7984</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "footer" .}}
