{{define "footer"}}
        <div class="ch-footer-background">
            <div class="container ch-footer">
                <div class="row">
                    <div class="one-third column">
                        <h1>Important Links</h1>
                        <ul class="text-center">
                            <li><a href="mailto:admin@ChristianHering.com">Legal Contact</a></li>
                            <li><a href="https://admin.ChristianHering.com/pp">Privacy Policy</a></li>
                            <li><a href="https://admin.ChristianHering.com/tos">Terms Of Use</a></li>
                            <li><a href="https://admin.ChristianHering.com">Admin Login</a></li>
                        </ul>
                    </div>
                    <div class="one-third column">
                        <h1>About Me</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus, erat faucibus mollis finibus, sem arcu tristique diam, id hendrerit lorem.</p>
                        <div class="row">
                            <a href="https://www.linkedin.com/in/christianhering/"><i class="fab fa-linkedin fa-2x"></i></a>
                            <a href="https://github.com/christianhering"><i class="fab fa-github fa-2x"></i></a>
                            <a href="https://www.quora.com/profile/Christian-Hering-5"><i class="fab fa-quora fa-2x"></i></a>
                            <!-- <a href=""><i class="fab fa-medium fa-2x"></i></a> -->
                        </div>
                    </div>
                    <div class="one-third column">
                        <a href="https://ChristianHering.com#contact"><h1>Contact Us</h1></a>
                        <h2>or</h2>
                        <h1 style="font-size: 20px;">Request A Follow Up</h1>
                        <form action="/contact" class="input-group mt-3 justify-content-center">
                            <input placeholder="Email" type="email" name="email">
                            <div class="input-group-append"><button type="submit" class="btn btn-outline-light">Send</button></div>
                        </form>
                        <!-- email address submission link -->
                    </div>
                </div>
            </div>
        </div>

        <div class="ch-copyright">
            <p>Copyright &copy <script>document.write(new Date().getFullYear())</script> Christian Hering. All Rights Reserved.</p>
        </div>
    </body>
</html>
{{end}}
