{{define "header"}}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/96d0975d4a.js" crossorigin="anonymous"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="http://cdn.ChristianHering.com/css/normalize.css">
        <link rel="stylesheet" href="http://cdn.ChristianHering.com/css/main.css">

        <link rel="icon" href="https://cdn.jsdelivr.net/gh/ChristianHering/Website@latest/cdn/img/logo.png" type="image/icon">
    </head>

    <body>
        <nav role="navigation">
            <div id="menuToggle">
                <input type="checkbox" />
                
                <span></span>
                <span></span>
                <span></span>
                
                <ul id="menu">
                    <a href="https://ChristianHering.com"><li>Consulting</li></a>
                    <a href="https://blog.ChristianHering.com"><li>Blog</li></a>
                    <a href="https://portfolio.ChristianHering.com"><li>Portfolio</li></a>
                    <a href="https://documentation.ChristianHering.com"><li>Documentation</li></a>
                    <a href="https://ChristianHering.com#contact"><li>Contact</li></a>
                </ul>
                </div>
        </nav>
{{end}}
