{{template "header" .}}

<title>Christian Hering - Portfolio.</title>

<style>
    .fullscreen-ch.landing-background-div-ch {
        background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('http://cdn.ChristianHering.com/img/background.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
</style>

        <div class="fullscreen-ch landing-background-div-ch container-fluid">
            <div class="landing-div-ch">
                <h1>Christian Hering</h1>
                <p>Building Projects That Inspire</p>
            </div>

            <a class="landing-icon-ch" href="#">
                <svg width="3vw" height="3vw" viewBox="0 0 16 16" class="bi bi-chevron-compact-down" fill="currentColor" xmlns="https://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
                </svg>
            </a>
        </div>

        <div class="row body-grid-ch" style="background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));">
            <div class="col-2"></div>
                <div class="col-xs-12 col-sm-8">

                    <div class="py-3"></div>
                    <!-- Project Domains -->
                    
                    <h1>Project Domains</h1>
                    <p>These projects showcase my competency across several differant domains in technology.</p>
                    <div class="row">
                        <div class="col-12 col-xl card card-ch">
                            <div class="card-body">
                                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-thermometer-half mb-3" fill="currentColor" xmlns="https://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 2a2 2 0 1 1 4 0v7.627a3.5 3.5 0 1 1-4 0V2zm2-1a1 1 0 0 0-1 1v7.901a.5.5 0 0 1-.25.433A2.499 2.499 0 0 0 8 15a2.5 2.5 0 0 0 1.25-4.666.5.5 0 0 1-.25-.433V2a1 1 0 0 0-1-1z"/>
                                    <path d="M8.25 2a.25.25 0 0 0-.5 0v9.02a1.514 1.514 0 0 1 .5 0V2z"/>
                                    <path d="M9.5 12.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                </svg>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus, erat faucibus mollis finibus, sem arcu tristique diam, id hendrerit lorem sem pretium enim. Sed tempus commodo orci, eu elementum purus sagittis eu.</p>
                                <a href="./shop" style="color: black"><button class="btn btn-outline-light">View Source</button></a>
                            </div>
                        </div>
                        <div class="col-12 col-xl card card-ch">
                            <div class="card-body">
                                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-joystick mb-3" fill="currentColor" xmlns="https://www.w3.org/2000/svg">
                                    <path d="M7.106 15.553L.553 12.276A1 1 0 0 1 0 11.382V9.471a1 1 0 0 1 .606-.89L6 6.269v1.088L1 9.5l5.658 2.83a3 3 0 0 0 2.684 0L15 9.5l-5-2.143V6.27l5.394 2.312a1 1 0 0 1 .606.89v1.911a1 1 0 0 1-.553.894l-6.553 3.277a2 2 0 0 1-1.788 0z"/>
                                    <path fill-rule="evenodd" d="M7.5 9.5v-6h1v6h-1z"/>
                                    <path d="M10 9.75c0 .414-.895.75-2 .75s-2-.336-2-.75S6.895 9 8 9s2 .336 2 .75zM10 2a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                                </svg>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus, erat faucibus mollis finibus, sem arcu tristique diam, id hendrerit lorem sem pretium enim. Sed tempus commodo orci, eu elementum purus sagittis eu.</p>
                                <div class="row">
                                    <div class="col"><a href="./shop" style="color: black"><button class="btn btn-outline-light">Play Now!</button></a></div>
                                    <div class="col"><a href="https://github.com/ChristianHering/Sudoku" style="color: black"><button class="btn btn-outline-light">View Source</button></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl card card-ch">
                            <div class="card-body">
                                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-code-slash mb-3" fill="currentColor" xmlns="https://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0zm-.999-3.124a.5.5 0 0 1 .33.625l-4 13a.5.5 0 0 1-.955-.294l4-13a.5.5 0 0 1 .625-.33z"/>
                                </svg>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus, erat faucibus mollis finibus, sem arcu tristique diam, id hendrerit lorem sem pretium enim. Sed tempus commodo orci, eu elementum purus sagittis eu.</p>
                                <a href="https://github.com/ChristianHering/Website" style="color: black"><button class="btn btn-outline-light">View Source</button></a>
                            </div>
                        </div>
                    </div>

                    <!-- Project Domains -->
                    <div class="py-5"></div>
                    <!-- Projects -->

                    <h1>Projects</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus, erat faucibus mollis finibus, sem arcu tristique diam, id hendrerit lorem sem pretium enim. Sed tempus commodo orci, eu elementum purus sagittis eu. Curabitur eu lacus tristique, volutpat erat vel, mattis orci.</p>
                    <div class="row">
                        <div class="card col-12 col-lg blog-ch mx-3 my-3" style="background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('https://cdn.jsdelivr.net/gh/ChristianHering/Website@latest/cdn/img/exampleImage.jpg'); background-size: cover;">
                            <div class="card-body my-3">
                                <h2 class="mx-auto">Lorem ipsum dolor sit amet</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus, erat faucibus mollis finibus, sem arcu tristique diam, id hendrerit lorem sem pretium enim. Sed tempus commodo orci, eu elementum purus sagittis eu. Curabitur eu lacus tristique, volutpat erat vel, mattis orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus aliquet.</p>
                            </div>
                        </div>
                        <div class="card col-12 col-lg blog-ch mx-3 my-3" style="background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('https://cdn.jsdelivr.net/gh/ChristianHering/Website@latest/cdn/img/exampleImage1.jpg'); background-size: cover;">
                            <div class="card-body my-3">
                                <h2 class="mx-auto">Lorem ipsum dolor sit amet</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus, erat faucibus mollis finibus, sem arcu tristique diam, id hendrerit lorem sem pretium enim. Sed tempus commodo orci, eu elementum purus sagittis eu. Curabitur eu lacus tristique, volutpat erat vel, mattis orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus aliquet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card col-12 col-lg blog-ch mx-3 my-3" style="background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('https://cdn.jsdelivr.net/gh/ChristianHering/Website@latest/cdn/img/exampleImage.jpg'); background-size: cover;">
                            <div class="card-body my-3">
                                <h2 class="mx-auto">Lorem ipsum dolor sit amet</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus, erat faucibus mollis finibus, sem arcu tristique diam, id hendrerit lorem sem pretium enim. Sed tempus commodo orci, eu elementum purus sagittis eu. Curabitur eu lacus tristique, volutpat erat vel, mattis orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus aliquet.</p>
                            </div>
                        </div>
                        <div class="card col-12 col-lg blog-ch mx-3 my-3" style="background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('https://cdn.jsdelivr.net/gh/ChristianHering/Website@latest/cdn/img/exampleImage1.jpg'); background-size: cover;">
                            <div class="card-body my-3">
                                <h2 class="mx-auto">Lorem ipsum dolor sit amet</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus, erat faucibus mollis finibus, sem arcu tristique diam, id hendrerit lorem sem pretium enim. Sed tempus commodo orci, eu elementum purus sagittis eu. Curabitur eu lacus tristique, volutpat erat vel, mattis orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus aliquet.</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Projects -->
                    <div class="py-5" id="resume"></div>
                    <!-- Resume -->

                    <h1>Resume</h1>
                    <p>Just a simple API request here... Nothing to see.</p>
                    <div class="resume-ch">
                        <pre style="margin: 0; line-height: 125%">
                            <span class="text-ch">
    <span class="linenumber-ch"> 1</span>   <span class="blue-ch">POST</span> <span class="string-ch">/apply</span> <span class="blue-ch">HTTP/1.1</span>
    <span class="linenumber-ch"> 2</span>   <span class="blue-ch">Authorization</span>: <span class="string-ch">Basic YqXmsassQeBPDcSe</span>
    <span class="linenumber-ch"> 3</span>   <span class="blue-ch">Host</span>: <span class="string-ch">employer.endpoint.com</span>
    <span class="linenumber-ch"> 4</span>   <span class="blue-ch">Content-Type</span>: <span class="string-ch">application/json</span>
    <span class="linenumber-ch"> 5</span>   <span class="blue-ch">Content-Length</span>: <span class="string-ch">725</span>
    <span class="linenumber-ch"> 6</span>
    <span class="linenumber-ch"> 7</span>   <span class="bracket-ch">{</span>
    <span class="linenumber-ch"> 8</span>   <span class="blue-ch">"PersonalInfo"</span>: <span class="bracket-ch">{</span>
    <span class="linenumber-ch"> 9</span>       <span class="key-ch">"FullName"</span>:      <span class="string-ch">"Christian Hering"</span>,
    <span class="linenumber-ch">10</span>       <span class="key-ch">"LastBirthday"</span>:  <span class="number-ch">1603065600</span>,
    <span class="linenumber-ch">11</span>       <span class="key-ch">"Email"</span>:         <span class="string-ch">"Contact@ChristianHering.com"</span>,
    <span class="linenumber-ch">12</span>       <span class="key-ch">"Phone"</span>:         <span class="number-ch">1234567890</span>
    <span class="linenumber-ch">13</span>   <span class="bracket-ch">}</span>,
    <span class="linenumber-ch">14</span>   <span class="blue-ch">"Competencies"</span>: <span class="bracket-ch">{</span>
    <span class="linenumber-ch">15</span>      <span class="key-ch">"Software"</span>:      <span class="blue-ch">[</span><span class="string-ch">"GoLang"</span>, <span class="string-ch">"Python"</span>, <span class="string-ch">"Lua"</span>, <span class="string-ch">"C"</span><span class="blue-ch">]</span>,
    <span class="linenumber-ch">16</span>      <span class="key-ch">"Hardware"</span>:      <span class="blue-ch">[</span><span class="string-ch">"Electronics"</span>, <span class="string-ch">"I2C"</span>, <span class="string-ch">"Embedded Systems"</span><span class="blue-ch">]</span>,
    <span class="linenumber-ch">17</span>      <span class="key-ch">"Related"</span>:       <span class="blue-ch">[</span><span class="string-ch">"Git"</span>, <span class="string-ch">"REST/RPC API's"</span><span class="blue-ch">]</span>,
    <span class="linenumber-ch">18</span>      <span class="key-ch">"Miscellaneous"</span>: <span class="blue-ch">[</span><span class="string-ch">"Computer Networking"</span>, <span class="string-ch">"MS/Libre Office"</span>, <span class="string-ch">"Tech Support"</span><span class="blue-ch">]</span>
    <span class="linenumber-ch">19</span>   <span class="bracket-ch">}</span>,
    <span class="linenumber-ch">20</span>   <span class="blue-ch">"WorkAvailibility"</span>: <span class="bracket-ch">{</span>
    <span class="linenumber-ch">21</span>       <span class="key-ch">"EmploymentEligibility"</span>: <span class="string-ch">"US Citizen"</span>,
    <span class="linenumber-ch">22</span>       <span class="key-ch">"RequiresSponsorship"</span>:   <span class="blue-ch">false</span>
    <span class="linenumber-ch">23</span>   <span class="bracket-ch">}</span>,
    <span class="linenumber-ch">24</span>   <span class="blue-ch">"Education"</span>: <span class="bracket-ch">{</span>
    <span class="linenumber-ch">25</span>       <span class="key-ch">"Formal"</span>:   <span class="blue-ch">[</span><span class="bracket-ch">{</span><span class="string-ch">"GED"</span>: <span class="string-ch">"High Honors from MATC. Certification Number - 123123123123"</span><span class="bracket-ch">}</span><span class="blue-ch">]</span>,
    <span class="linenumber-ch">26</span>       <span class="key-ch">"Informal"</span>: <span class="blue-ch">[</span><span class="bracket-ch">{</span><span class="string-ch">"Self-Taught"</span>: <span class="string-ch">"Programming, Electronics, etc"</span><span class="bracket-ch">}</span><span class="blue-ch">]</span>
    <span class="linenumber-ch">29</span>   <span class="bracket-ch">}</span>
    <span class="linenumber-ch">30</span>   <span class="bracket-ch">}</span>
                        </span></pre>
                    </div>


                    <!-- Resume -->
                    <div class="py-5"></div>

                </div>
            <div class="col-2"></div>
        </div>
{{template "footer" .}}
