/*
 * Navigation
*/

body, html {
    height: 100%;
    background-color: #1f1f1f;
    text-align: center;
    color: white;
  }
  
  #menuToggle
  {
    display: block;
    position: absolute;
    top: 50px;
    left: 50px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a
  {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover
  {
    color: tomato;
  }
  
  
  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }
  
  /*
   * Just a quick hamburger
   */
  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu
  {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
  }
  
  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }
  
  /*
   * Footer
  */
  
  .ch-footer-background {
    background-color: #272727;
  }
  
  .ch-footer {
    background-color: #272727;
  }
  
  .ch-footer div {
      margin: 0px;
      padding: 0px;
      text-align: center;
      justify-content: center;
  }
  
  .ch-footer h1 {
      color: white;
      text-shadow: 2px 3px 50px rgba(0,0,0,0.5);
      font-size: 25px;
      text-align: center;
  }
  
  .ch-footer h2 {
      color: rgba(255, 255, 255, 0.5);
      text-shadow: 2px 3px 50px rgba(0,0,0,0.5);
      font-size: 15px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  
  .ch-footer p {
      color: white;
      text-shadow: 2px 3px 50px rgba(0,0,0,0.5);
      text-align: center;
      margin-top: 5px;
      margin-bottom: 5px;
  }
  
  .ch-footer i {
      color: rgba(255, 255, 255, 0.5);
      margin: 0.25em;
  }
  
  .ch-footer ul {
      list-style-type: none;
      padding-left: 0px;
  }
  
  .ch-footer li {
      margin-top: 5px;
      margin-bottom: 5px;
  }
  
  .ch-footer a {
      color: rgb(153, 153, 153);
      text-shadow: 2px 3px 50px rgba(0,0,0,0.5);
      font-size: 15px;
      text-decoration: none;
  }
  
  .ch-footer input {
      border: 0px;
      height: 3em;
      outline: none;
      font-size: 1em;
      line-height: 3em;
      background: transparent;
      color: rgb(255, 255, 255);
      border-bottom:  1px solid rgba(255, 255, 255, 0.1);
  }
  
  /*
   * Copyright
  */
  
  .ch-copyright {
      background-color: #1f1f1f;
  }
  
  .ch-copyright p {
      color: rgb(82, 82, 82);
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  
  /*
   * Padding
  */
  
  @media (max-width: 1200px) {
    .ch-consulting-landing-div h1 {
        font-size: 4em;
        line-height: 36px;
    }
  }

  .vertical-pad-3-when-desktop {
    padding: 3em;
  }
  @media (min-width: 1000px) {
      .vertical-pad-3-when-desktop {
        padding: 0em;
        padding-top: 3em;
      }
  }
  
  .vertical-pad-1 { padding-top: 1em; }
  .vertical-pad-3 { padding-top: 3em; }
  
  .pad-1 { padding: 1em; }
  .pad-3 { padding: 3em; }

  /*
  * Skeleton V2.0.4
  * Copyright 2014, Dave Gamache
  * www.getskeleton.com
  * Free to use under the MIT license.
  * http://www.opensource.org/licenses/mit-license.php
  * 12/29/2014
  */
  
  /* Table of contents
  ––––––––––––––––––––––––––––––––––––––––––––––––––
  - Grid
  - Base Styles
  - Typography
  - Links
  - Buttons
  - Forms
  - Lists
  - Code
  - Tables
  - Spacing
  - Utilities
  - Clearing
  - Media Queries
  */
  
  
  /* Grid
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box; }
  .column,
  .columns {
    width: 100%;
    float: left;
    box-sizing: border-box; }
  
  /* For devices larger than 400px */
  @media (min-width: 400px) {
    .container {
      padding: 3em; }
  }
  
  /* For devices larger than 550px */
  @media (min-width: 1000px) {
    .container {
      width: 80%; }
    .column,
    .columns {
      margin-left: 4%; }
    .column:first-child,
    .columns:first-child {
      margin-left: 0; }
  
    .one.column,
    .one.columns                    { width: 4.66666666667%; }
    .two.columns                    { width: 13.3333333333%; }
    .three.columns                  { width: 22%;            }
    .four.columns                   { width: 30.6666666667%; }
    .five.columns                   { width: 39.3333333333%; }
    .six.columns                    { width: 48%;            }
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 65.3333333333%; }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.3333333333%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }
  
    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }
  
    .one-half.column                { width: 48%; }
  
    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns          { margin-left: 8.66666666667%; }
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 17.3333333333%; }
    .offset-by-three.column,
    .offset-by-three.columns        { margin-left: 26%;            }
    .offset-by-four.column,
    .offset-by-four.columns         { margin-left: 34.6666666667%; }
    .offset-by-five.column,
    .offset-by-five.columns         { margin-left: 43.3333333333%; }
    .offset-by-six.column,
    .offset-by-six.columns          { margin-left: 52%;            }
    .offset-by-seven.column,
    .offset-by-seven.columns        { margin-left: 60.6666666667%; }
    .offset-by-eight.column,
    .offset-by-eight.columns        { margin-left: 69.3333333333%; }
    .offset-by-nine.column,
    .offset-by-nine.columns         { margin-left: 78.0%;          }
    .offset-by-ten.column,
    .offset-by-ten.columns          { margin-left: 86.6666666667%; }
    .offset-by-eleven.column,
    .offset-by-eleven.columns       { margin-left: 95.3333333333%; }
  
    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }
  
    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52%; }
  
  }
  
  
  /* Base Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* NOTE
  html is set to 62.5% so that all the REM measurements throughout Skeleton
  are based on 10px sizing. So basically 1.5rem = 15px :) */
  html {
    font-size: 62.5%; }
  body {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  
  /* Typography
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300; }
  h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
  h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
  h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
  h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
  h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
  h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
  
  /* Larger than phablet */
  @media (min-width: 550px) {
    h1 { font-size: 5.0rem; }
    h2 { font-size: 4.2rem; }
    h3 { font-size: 3.6rem; }
    h4 { font-size: 3.0rem; }
    h5 { font-size: 2.4rem; }
    h6 { font-size: 1.5rem; }
  }
  
  p {
    margin-top: 0; }
  
  
  /* Links
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  a {
    color: #1EAEDB; }
  a:hover {
    color: #0FA0CE; }
  
  
  /* Buttons
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: white;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box; }
  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  .button:focus,
  button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus {
    color: black;
    background-color: white;
    border-color: #888;
    outline: 0; }
  .button.button-primary,
  button.button-primary,
  input[type="submit"].button-primary,
  input[type="reset"].button-primary,
  input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0; }
  .button.button-primary:hover,
  button.button-primary:hover,
  input[type="submit"].button-primary:hover,
  input[type="reset"].button-primary:hover,
  input[type="button"].button-primary:hover,
  .button.button-primary:focus,
  button.button-primary:focus,
  input[type="submit"].button-primary:focus,
  input[type="reset"].button-primary:focus,
  input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB; }
  
  
  /* Forms
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box; }
  /* Removes awkward default styles on some inputs for iOS */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px; }
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #33C3F0;
    outline: 0; }
  label,
  legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600; }
  fieldset {
    padding: 0;
    border-width: 0; }
  input[type="checkbox"],
  input[type="radio"] {
    display: inline; }
  label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal; }
  
  
  /* Lists
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  ul {
    list-style: circle inside; }
  ol {
    list-style: decimal inside; }
  ol, ul {
    padding-left: 0;
    margin-top: 0; }
  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%; }
  li {
    margin-bottom: 1rem; }
  
  
  /* Code
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px; }
  pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre; }
  
  
  /* Tables
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  th,
  td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1; }
  th:first-child,
  td:first-child {
    padding-left: 0; }
  th:last-child,
  td:last-child {
    padding-right: 0; }
  
  
  /* Spacing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  button,
  .button {
    margin-bottom: 1rem; }
  input,
  textarea,
  select,
  fieldset {
    margin-bottom: 1.5rem; }
  pre,
  blockquote,
  dl,
  figure,
  table,
  p,
  ul,
  ol,
  form {
    margin-bottom: 2.5rem; }
  
  
  /* Utilities
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .u-full-width {
    width: 100%;
    box-sizing: border-box; }
  .u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; }
  .u-pull-right {
    float: right; }
  .u-pull-left {
    float: left; }
  
  
  /* Misc
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1; }
  
  
  /* Clearing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  /* Self Clearing Goodness */
  .container:after,
  .row:after,
  .u-cf {
    content: "";
    display: table;
    clear: both; }
  
  
  /* Media Queries
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /*
  Note: The best way to structure the use of media queries is to create the queries
  near the relevant code. For example, if you wanted to change the styles for buttons
  on small devices, paste the mobile query code up in the buttons section and style it
  there.
  */
  
  
  /* Larger than mobile */
  @media (min-width: 400px) {}
  
  /* Larger than phablet (also point when grid becomes active) */
  @media (min-width: 550px) {}
  
  /* Larger than tablet */
  @media (min-width: 750px) {}
  
  /* Larger than desktop */
  @media (min-width: 1000px) {}
  
  /* Larger than Desktop HD */
  @media (min-width: 1200px) {}
  
/*
 * End of Skeleton
*/

  /*
   * Landing Page Image
  */
  
  .ch-consulting-landing-image {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('https://cdn.jsdelivr.net/gh/ChristianHering/Website@latest/cdn/img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  
  /*
  * Landing Page Text
  */
  
  .ch-consulting-landing-div {
    padding-top: 40vh;
    text-align: center;
    vertical-align: middle;
  }
  
  .ch-consulting-landing-div h1 {
    font-size: 5em;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  }
  
  @media (max-width: 1200px) {
    .ch-consulting-landing-div h1 {
        font-size: 4em;
        line-height: 36px;
    }
  }
  
  @media (max-width: 768px) {
    .ch-consulting-landing-div h1 {
        font-size: 3em;
        line-height: 36px;
    }
  }
  
  .ch-consulting-landing-div p {
    color: white;
    font-size: 2em;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  }
  
  @media (max-width: 1200px) {
    .ch-consulting-landing-div p {
        font-size: 1.5em;
        line-height: 36px;
    }
  }
  
  @media (max-width: 768px) {
    .ch-consulting-landing-div p {
        font-size: 1.2em;
        line-height: 36px;
    }
  }
  
  .ch-consulting-landing-icon {
    color: white;
    text-align: center;
    display: block;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .ch-consulting-landing-icon svg {
        width: 4vw;
        height: 4vw;
    }
  }
  
  /*
  * Main Area
  */
  
  .ch-consulting-main-background {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }
  
  /*
  * Main Area
  */
  
  .ch-consulting-blog-showcase .column {
    padding: 4em;
  }
  
  .ch-consulting-blog-showcase div {
    background-size: cover;
  }
  
  /*
  * Contact
  */
  
  .ch-consulting-main-contact {
    color: white;
    background-color: rgba(128, 128, 128, 0.1);
  }
  
  .ch-consulting-main-contact h4 {
    color: white;
    text-align: left;
  }
  
  .ch-consulting-main-contact h6 {
    color: white;
    text-align: left;
  }
  
  .ch-consulting-main-contact p {
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    line-height: 1em;
  }
  
  .ch-consulting-main-contact input {
    width: 100%;
    border: 0;
    height: 3em;
    outline: none;
    font-size: 1em;
    line-height: 3em;
    margin-bottom: 1em;
    background: transparent;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

/*
 * Portfolio Page Image
*/

.ch-portfolio-landing-image {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('https://cdn.jsdelivr.net/gh/ChristianHering/Website@latest/cdn/img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

  /*
  * Resume
  */
  
  .resume-ch {
    background-color: #1E1E1E;
  }
  
  .resume-ch pre {
    font-size: 17px;
    line-height: 1.5;
    text-align: left;
  }
  
  .resume-ch .text-ch {
    color: white;
  }
  
  .resume-ch .blue-ch {
    color: #569CD6;
  }
  
  .resume-ch .linenumber-ch {
    color: #D0D0D0;
  }
  
  .resume-ch .key-ch {
    color: #9CDCFE;
  }
  
  .resume-ch .bracket-ch {
    color: #D197D9;
  }
  
  .resume-ch .string-ch {
    color: #CE9178;
  }
  
  .resume-ch .number-ch {
    color: #7FB347;
  }
  
  .post-ch {
    white-space: pre-wrap;
    font-size: 18px;
  }